.titulo {
      background-color:white;
      text-align: center;
     
}

.subtitulo {

    background-color: pink;
    color:black;
    text-align: center;

}
.texto {
       color:black;
       

}

.container {

   background-color:pink;

}
.image {
    height: 300px;
    width: 300px;
    margin: 10PX;
    
}

button {
       background-color: pink;
       color: black;
       width: 240px;
       padding: 20px;


}

button:hover {
    background-color: palevioletred;
    scale: 1.1;
}

footer {
    height: 500px;
    width: 600px;
    padding: 60px;
    margin: 10px;
    
}